#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.rounded-circle.btn-circle {
  height: 30px;
  width: 30px;
  padding-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  margin:  0 25%;
}

.alert{
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content; 
}
.accordion .accordion-item:first-of-type>.accordion-header .accordion-button, .accordion .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
  border-radius: 0;
}

.accordion-header button {
  padding: 0;
}

.accordion-item:first-of-type>.accordion-header .accordion-button{
  padding-right: 15px;
}

.item-title{
  background: #EBEBEB;
}

.etiquetando .form-control.capitalize:first-letter {
  text-transform: capitalize !important;
  font-size: inherit;
}

/* .nav-link:focus, .nav-link:hover, .nav-link:active {
  color: #0d6efd !important
} */